body{
    background-image: url('simple.jpg');
    background-repeat:no-repeat;
    background-position-x: center;
    background-size: cover;
}
    

#heading{
    position: relative;
    bottom: -60px;
    -ms-zoom-animation: none;
    right: 40px;
    text-align: center;
    margin: 2em;
    color: white;
    font-size: 2.2em;
    background-position: center;
}
.field{
    position: relative;
    -ms-zoom-animation: none;
    left: 500px;
    width: 200px;
    bottom: -50px;
    margin:20px 0 0 20px;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 0 0 10px, 10px;
    padding: 20px;
    border: 50px;
    outline: none;
    color: white;
    background-color:#3b3939;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.button1{
    position: relative;
    -ms-zoom-animation: none;
    left: 420px;
    bottom: -50px;
    margin: 20px, 0 0 20px;
    padding: 15px;
    border-radius:5px;
    width: 200px;
    text-align: center;
    justify-content: center; 
    outline: 25px;
    transition: .4s ease-in-out;
    background-color: brown;
    color: white;

}
.button2{
    position: relative;
    -ms-zoom-animation: none;
    left: 420px;
    bottom:-50px;
    margin:20px 0 0 20px;
    padding: 15px;
border-radius: 5px;
width: 200px;
text-align: center;
justify-content: center;
transition: .5s ease-in-out;
background-color: #442121;
color: aliceblue;
}
.button3{
    position: relative;
    -ms-zoom-animation: none;
    left: 530px;
    bottom: -50px;
    margin: 5px;
    padding: 15px;
    width: 200px;
    align-items: center;
    text-align: center;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}
.button1:hover{
    background-color:gold ;
}
.button2:hover{
    background-color: rgb(78, 95, 78);
}
.button3:hover{
    background-color: rgb(55, 41, 129);

}
.body{
    background-position: center;
    background-image: no-repeat;
}
.attribution{font-size: 11px; text-align: center; position: relative; top: 20px;}
.attribution a{color: hsl(228, 45%, 44%);}
@media screen and (max-width:400px) {
    #heading{
        position: relative;
        font-size: 300px;
        bottom: -60px;
        -ms-zoom-animation: none;
        left: 1px;
        text-align: center;
        margin: 2em;
        color: white;
        font-size: 2.2em;
        background-position: center;
        background-size: cover;
    }
    .field{
        position: relative;
        -ms-zoom-animation: none;
        left: 40px;
        width: 200px;
        bottom: -50px;
        margin:20px 0 0 20px;
         display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        border-radius: 0 0 10px, 10px;
        padding: 20px;
        border: 50px;
        outline: none;
        color: white;
        background-color:#3b3939;
        box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    }
    .button1{
        position: relative;
        display : flex; 
        right  :-50px; 
        left: 0px; 
        bottom : -70px;
        margin: 20px, 0 0 20px;
        padding: 15px;
        border-radius:5px;
        width: 190px;
        text-align: center;
        justify-content: center; 
        outline: 25px;
        transition: .4s ease-in-out;
        background-color: brown;
        color: white;
    
    }
    .button2{
        position: relative;
        left: 180px;
        bottom :-70px;
        height:50px;  
        position: relative;
        display: flex;
        top :-1px;
        margin:20px 0 0 20px;
        padding: 15px;
       border-radius: 5px;
    width: 180px;
    text-align: center;
    justify-content: center;
    transition: .5s ease-in-out;
    background-color: #442121;
    color: aliceblue;
    }
    .button3{
        position: relative;
        left: 90px;
        top :-1px;
        bottom :-10px;
        margin: 5px;
        padding: 15px;
        width: 200px;
        align-items: center;
        text-align: center;
        transition: .4s ease-in-out;
        background-color: #252525;
        color: white;
        
        
}
}
.button1:hover{
    background-color:gold ;
}
.button2:hover{
    background-color: rgb(78, 95, 78);
}
.button3:hover{
    background-color: rgb(55, 41, 129);
    transform :4s;

}
body{
    background-image: url('simple.jpg');
    height : 86vh;
    background-position-x: center;
    background-size: cover;
    background-position-y: center;
}
